body {
  background-color: lightblue;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width:100%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  min-height:100vh;
  min-height:100svh;
}
footer{
  background-color:black;
  color:white;
  padding:15px;
  border-radius: 10px;
  position: relative;
  margin-top:auto;
}
footer li{
  padding: 10px;
  display: flex;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}
ul.nav-menu {
  background-color:white;
  border-radius:10px;
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}
ul.nav-menu li a:hover {
  background-color: lightgrey;
  border-radius:5px;
}
li {
  float: left;
  border-right:1px solid lightblue;
}
li a {
  display: block;
  text-align: center;
  padding: 10px 12px;
  font-size:19px;
  text-decoration: none;
}
h1{
  font-size: 50px;
  color:darkblue;
  text-align: center;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
input, select{
  width: 100%;
  display:inline-block;
  padding: 11px 20px;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  font-size:15px;
}
label {
  display: block;
  margin-top: 15px;
  margin-bottom:2px;
  font-size:20px;
}
button, input[type=submit] {
  background-color: #FFC355;
  color: black;
  border: 1px darkblue solid;
  border-radius: 6px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width:30%;
  margin-top:15px;
  margin-bottom:15px;
}
button:hover, input[type=submit]:hover {
  opacity: 0.8;
}
.form-box {
  padding: 16px;
}
.login-form {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 60px;
}
.form-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}
input:focus, select:focus{
  background-color: lightgrey;
}
form{
  font-size: 20px;
  border-radius:20px;
}
.blank-notify{
  color:red;
  font-size: 14px;
  font-weight: bold; 
  margin-top:5px;
  margin-bottom:15px;
  display:block;
}
.blank-notify span {
  display: block;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}
table{
  width: 100%;
  border:3px solid black;
  margin-top:20px;
  margin-bottom:20px;
}
th, td{
  padding: 10px 12px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th{
  font-size:18px;
  border-bottom: 4px solid blue;
  background-color: cornflowerblue;
} 
tr:nth-child(odd){
  background-color: #fff;
}
tr:nth-child(even){
  background-color: #FFC355;
}
.delete-label {
  color: blue;
  font-weight: bold;
}
.confirm {
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
#error-message {
  text-align: center;
  background-color: white;
  color: #ff0000;
  padding: 10px;
}
.search-container {
  display: flex;
  align-items: center;
}
.search {
  flex: 1;
  margin-right: 10px;
}
#search-button {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  display: inline-block;
}
.back-button{
  font-weight: bold; 
  padding-left: 30px;
}
.delete-data {
  margin-bottom: 20px;
}
:root {
  --delay: 0;
  --duration: 800ms;
  --iterations: 1;
}
.contact-info,
.contact-info::after {
  animation-delay: var(--animation-delay, 2s);
  animation-iteration-count: var(--iterations, 1);
  animation-duration: var(--duration, 800ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.contact-info {
  text-align: center;
  --animation-delay: var(--delay, 1);
  --animation-duration: var(--duration, 800ms);
  --animation-iterations: var(--iterations, 1);
  position: relative;
  font-size: 20px;
  animation-name: clip-text;
  color: black;
  white-space: nowrap;
  cursor: default;
  
  &::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f98b;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: text-revealer;
  }
}
@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes text-revealer {
  0%, 50% {
    transform-origin: 0 50%;
  }
  
  60%, 100% {
    transform-origin: 100% 50%;   
  }

  60% {
    transform: scaleX(1);
  }
  
  100% {
    transform: scaleX(0);
  }
}
.welcome-message {
  text-align: center;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #FF8C00, #fff, #FFC355);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}