body {
  background-color: lightblue;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width:100%;
  margin:auto;
  max-width: 1200px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  min-height:100vh;
  min-height:100svh;
}
footer{
  background-color:black;
  color:white;
  padding:15px;
  border-radius: 10px;
  position: relative;
  margin-top:auto;
}
footer li{
  padding: 10px;
  display: flex;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}
ul.nav-menu {
  background-color:white;
  border-radius:10px;
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}
ul.nav-menu li a:hover {
  background-color: lightgrey;
  border-radius:5px;
}
li {
  float: left;
  border-right:1px solid lightblue;
}
li a {
  display: block;
  text-align: center;
  padding: 10px 12px;
  font-size:19px;
  text-decoration: none;
}
h1{
  font-size: 50px;
  color:darkblue;
  text-align: center;
}
.homepage-link {
  display: flex;
  align-items: center;
  height: 150px;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: darkblue;
  background-color: white;
  border-radius: 10px;
  line-height: 150px;
  flex: 1; 
  border:5px solid darkblue;
}
.homepage-link:hover {
  background-color: lightgrey;
}
input, select{
  width: 100%;
  display:inline-block;
  padding: 11px 20px;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  font-size:15px;
}
label {
  display: block;
  margin-top: 15px;
  margin-bottom:2px;
  font-size:20px;
}
button, input[type=submit] {
  background-color: #6495ed;
  color: white;
  border: 1px darkblue solid;
  border-radius: 6px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width:30%;
  margin-top:15px;
  margin-bottom:15px;
}
button:hover, input[type=submit]:hover {
  opacity: 0.8;
}
.form-box {
  padding: 16px;
}
.login-form {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 60px;
}
.form-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}
input:focus, select:focus{
  background-color: lightgrey;
}
form{
  font-size: 20px;
}
.blank-notify{
  color:red;
  font-size: 14px;
  font-weight: bold; 
  margin-top:5px;
  margin-bottom:15px;
  display:block;
}
.blank-notify span {
  display: block;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}
table{
  width: 100%;
  border:3px solid black;
}
th, td{
  padding: 10px 12px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th{
  font-size:18px;
  border-bottom: 4px solid blue;
  background-color: cornflowerblue;
} 
tr:nth-child(odd){
  background-color: #fff;
}
tr:nth-child(even){
  background-color: rgb(164, 164, 241);
}
.delete-label {
  color: blue;
  font-weight: bold;
}
.confirm {
  color: red;
  font-size: 18px;
  font-weight: bold;
}
#error-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  color: #ff0000;
  padding: 10px;
  z-index: 9999;
}