body {
  background-color: lightblue;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  margin:5px;
}
h1{
  font-size: 50px;
  color:darkblue;
  text-align: center;
}
.container{
  width:100%;
  margin:auto;
  display: flex;
  flex-direction: column;
  min-height:100vh;
  min-height:100svh;
}
footer{
  background-color:black;
  color:white;
  padding:15px;
  border-radius: 10px;
  position: relative;
  margin-top:auto;
}
footer li{
  padding: 10px;
  display: flex;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}
ul.nav-menu{
  background-color:white;
  border-radius:6px;
  list-style:none;
  padding-left:0;
  margin:0;
  display:flex;
  flex-direction:column;
  font-weight:bold;
  font-size:17px;
}
ul.nav-menu li{
  border-bottom:1px solid lightblue;
  padding:5px;
}
ul.nav-menu li a{
  display:inline-block;
  text-decoration:none;
  width:100%;
  padding:8px 0;
}
li a:visited{
  color:#551A8B;
}
li a:active{
  color:#0000ff;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.homepage-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: darkblue;
  background-color: white;
  border-radius: 10px;
  border: 5px solid darkblue;
}
input, select{
  width: 100%;
  display:inline-block;
  padding: 11px 20px;
  margin: 15px 0;
  box-sizing: border-box;
  border-radius: 6px;
  font-size:15px;
}
label {
  display: block;
  margin-top: 15px;
  margin-bottom:2px;
  font-size:20px;
}
button, input[type=submit] {
  background-color: #6495ed;
  color: white;
  padding: 14px 20px;
  border: none;
  width: 100%;
  margin-top:15px;
  margin-bottom:15px;
  border-radius: 6px;
  border: 1px darkblue solid;
}
button:hover {
  opacity: 0.8;
}
.form-box {
  padding: 16px;
}
.login-form {
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 60px;
}
.form-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}
input:focus, select:focus{
  background-color: lightgrey;
}
input[type=submit]{
  width: 100%;
}
form{
  font-size: 20px;
  padding:10px;
}
.table-container {
  max-height: 400px;
  overflow-y: auto;
  padding-bottom:20px;
}
.table-container table {
  width: 100%;
}
.table-container th,
.table-container td {
  padding: 8px;
  padding: 10px 12px;
  text-align: left;
}
.table-container th {
  position: sticky;
  top: 0;
  border-bottom: 2px solid blue;
  background-color: cornflowerblue;
  z-index: 1;
}
.table-container tr:nth-child(odd) {
  background-color: #fff;
}
.table-container tr:nth-child(even) {
  background-color: rgb(164, 164, 241);
}
.delete-label {
  color: blue;
  font-weight: bold;
}
.confirm {
  color: red;
  font-size: 18px;
  font-weight: bold;
}
.blank-notify{
  color:red;
  font-size: 14px;
  font-weight: bold; 
  margin-bottom:25px;
  display:block;
}
.blank-notify span {
  display: block;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}
#error-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  color: #ff0000;
  padding: 10px;
  z-index: 9999;
}
