body {
  background-color: lightblue;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  margin:5px;
}
h1{
  font-size: 40px;
  color:darkblue;
  text-align: center;
}
.container{
  width:100%;
  margin:auto;
  display: flex;
  flex-direction: column;
  min-height:100vh;
  min-height:100svh;
}
footer{
  background-color:black;
  color:white;
  padding:15px;
  border-radius: 10px;
  position: relative;
  margin-top:auto;
}
footer li{
  padding: 10px;
  display: flex;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}
ul.nav-menu{
  background-color:white;
  border-radius:6px;
  list-style:none;
  padding-left:0;
  margin:0;
  display:flex;
  flex-direction:column;
  font-weight:bold;
  font-size:17px;
}
ul.nav-menu li{
  border-bottom:1px solid lightblue;
  padding:5px;
}
ul.nav-menu li a{
  display:inline-block;
  text-decoration:none;
  width:100%;
  padding:8px 0;
}
li a:visited{
  color:#551A8B;
}
li a:active{
  color:#0000ff;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
input, select{
  width: 100%;
  display:inline-block;
  padding: 11px 20px;
  margin: 15px 0;
  box-sizing: border-box;
  border-radius: 6px;
  font-size:15px;
}
label {
  display: block;
  margin-top: 15px;
  margin-bottom:2px;
  font-size:20px;
}
button, input[type=submit] {
  background-color: #FFC355;
  color: black;
  padding: 14px 20px;
  border: none;
  width: 100%;
  margin-top:15px;
  margin-bottom:15px;
  border-radius: 6px;
  border: 1px darkblue solid;
}
button:hover {
  opacity: 0.8;
}
.form-box {
  padding: 16px;
}
.login-form {
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 60px;
}
.form-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}
input:focus, select:focus{
  background-color: lightgrey;
}
input[type=submit]{
  width: 100%;
}
form{
  font-size: 20px;
  padding:10px;
  border-radius:20px;
}
.table-container {
  max-height: 400px;
  overflow-y: auto;
  padding-bottom:20px;
}
.table-container table {
  width: 100%;
}
.table-container th,
.table-container td {
  padding: 8px;
  padding: 10px 12px;
  text-align: left;
}
.table-container th {
  position: sticky;
  top: 0;
  border-bottom: 2px solid blue;
  background-color: cornflowerblue;
  z-index: 1;
}
.table-container tr:nth-child(odd) {
  background-color: #fff;
}
.table-container tr:nth-child(even) {
  background-color: #FFC355;
}
.delete-label {
  color: blue;
  font-weight: bold;
}
h2{
  padding-left:10px;
}
.confirm {
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left:10px;
}
.blank-notify{
  color:red;
  font-size: 14px;
  font-weight: bold; 
  margin-bottom:25px;
  display:block;
}
.blank-notify span {
  display: block;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}
#error-message {
  text-align: center;
  background-color: white;
  color: #ff0000;
  padding: 10px;
}
.search-container {
  display: flex;
  align-items: center;
}
.search {
  flex: 1;
  margin-right: 10px;
}
#search-button {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  display: inline-block;
}
.back-button{
  font-weight: bold; 
  padding-left: 10px;
}
.delete-data {
  margin-bottom: 20px;
  padding-left:10px;
}
:root {
  --delay: 0;
  --duration: 800ms;
  --iterations: 1;
}
.contact-info,
.contact-info::after {
  animation-delay: var(--animation-delay, 2s);
  animation-iteration-count: var(--iterations, 1);
  animation-duration: var(--duration, 800ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.contact-info {
  width: 90%;
  margin: 0 auto;
  --animation-delay: var(--delay, 1);
  --animation-duration: var(--duration, 800ms);
  --animation-iterations: var(--iterations, 1);
  position: relative;
  font-size: 15px;
  animation-name: clip-text;
  color: black;
  white-space: nowrap;
  cursor: default;
  
  &::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f98b;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: text-revealer;
  }
}
@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes text-revealer {
  0%, 50% {
    transform-origin: 0 50%;
  }
  
  60%, 100% {
    transform-origin: 100% 50%;   
  }

  60% {
    transform: scaleX(1);
  }
  
  100% {
    transform: scaleX(0);
  }
}
.welcome-message {
  text-align: center;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #FF8C00, #fff, #FFC355);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
p{
  display:flex;
}  